<!DOCTYPE html>
<html>
<head>
  <title>Graph Libraries Comparison</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div><%= link_to "rgraph", :action => :rgraph %> (canvas -> doesn't work on IE8)</div>
  <div><%= link_to "fusioncharts", :action => :fusioncharts %> (SVG -> using canvg to convert SVG to canvas (but it doesn't work on IE))</div>
  <div><%= link_to "Charts with Fixed Data Points", :action => :fixed_data_points %></div>
</body>
</html>
